.titleElem {
  text-align: center;
  font-size: 90px;
  font-family: 'Patrick Hand SC', cursive;
}

.usernameField {
  border-radius: 25px;
  display: inline-block;
  width: 40%;
  height: 5%;
  margin-right: 5%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.usernameField:focus {
  border: 2px solid #555;
}

.submitButton {
  border-radius: 25px;
  font-size: 10px;
  width: 150%;
  height: 5%;
  display: inline-block;
  text-align: center;
  background-color: white;
  color: grey;
  font-size: 14px;
  border: 2px solid #e7e7e7;
  text-decoration: none;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #e7e7e7;
}

.playAgain {
  margin: 0 auto;
  display: block;
  border-radius: 25px;
  font-size: 10px;
  width: 10%;
  height: 5%;
  background-color: white;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 15px;
  color: grey;
  border: 2px solid #e7e7e7;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.playAgain:hover {
  background-color: #e7e7e7;
}
